<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-male"></span> Profile Page</h1>
    </div>

    <div class="row">
        <!-- Google Card -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                {{# if user.google.token}}
                    <p style="overflow-wrap: break-word">
                        <strong>id</strong>: {{user.google.id}}<br>
                        <strong>token</strong>: {{user.google.token}}<br>
                        <strong>email</strong>: {{user.google.email}}<br>
                        <strong>name</strong>: {{user.google.name}}
                    </p>
                    <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                {{else}}
                    <a href="/connect/google" class="btn btn-danger">Connect Google Account</a>
                {{/if}}

            </div>
        </div>
    </div>
    <div class="row">
        <!-- Facebook Card -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                {{# if user.facebook.token}}
                    <p style="overflow-wrap: break-word">
                        <strong>id</strong>: {{user.facebook.id}}<br>
                        <strong>token</strong>: {{user.facebook.token}}<br>
                        <strong>email</strong>: {{user.facebook.email}}<br>
                        <strong>name</strong>: {{user.facebook.name}}
                    </p>
                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                {{else}}
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook Account</a>
                {{/if}}

            </div>
        </div>
    </div>
    <div class="row">
        <!-- Local Card -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                {{# if user.local.email}}
                    <p>
                        <strong>id</strong>: {{user._id}}<br>
                        <strong>email</strong>: {{user.local.email}}<br>
                        <strong>password</strong>: {{user.local.password}}
                    </p>
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                {{else}}
                    <a href="/connect/local" class="btn btn-default">Connect Local Account</a>
                {{/if}}

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-superpowers"></span> Admin Tools</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-pencil-square-o"></span> Add Game</h3>
                <div class="formContainer">
                    <form class="form-horizontal gameForm" role="form"
                          action="/newgame?form=newgame" method="post">
                        <div class="form-group">
                            <label for="gameName" class="col-sm-2 control-label">Name of Game:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"
                                       id="gameName" name="gameName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gameURL" class="col-sm-2 control-label">URL of Game:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"
                                       id="gameURL" name="gameURL">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dataName" class="col-sm-2 control-label">Data Name for Game:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"
                                       id="dataName" name="dataName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="height" class="col-sm-2 control-label">Height of Game:</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control"
                                       id="height" name="height">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="width" class="col-sm-2 control-label">Width of Game:</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control"
                                       id="width" name="width">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-default">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
    <script>
        $(document).ready(function () {
            $('.gameForm').on('submit', function (evt) {
                evt.preventDefault();
                var action = $(this).attr('action');
                var $container = $(this).closest('.formContainer');
                $.ajax({
                    url: action,
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            $container.html('<h2>Thank you!</h2>');
                        } else {
                            $container.html('There was a problem.');
                        }
                    },
                    error: function () {
                        $container.html('There was a problem.');
                    }
                });
            });
        });
    </script>
{{/section}}